@page
@model IndexModel

<div id="overlayLeft">
    <div class="gridLeft">

        <div class="containerNam">
            <div id="lifterName" class="overlay"></div>
        </div>
        <div class="containerLif" id="containerLif">
            <div class="containerSta">
                <div id="status" class="overlay"></div>
            </div>
            <div class="containerAtt">
                <div id="attemptWeight" class="overlay"></div>
            </div>
        </div>
        <div class="containerSBD"> <div id="SBDT" class="overlay">S: 0<br>B: 0<br>D: 0<br>T: 0</div></div>
        <div class="containerTea" id="containerTea"> <div id="state" class="overlay">WCPA</div></div>
        <div class="containerCat">
            <div id="category" class="overlay"></div>
        </div>
        <div class="containerCmp">
            <div id="compName" class="overlay"></div>
        </div>
    </div>
</div>

<div id="overlayCentre">
    <div class="gridCentre">
        <div class="containerInsta" id="containerInsta">
            <div id="instagramHandle" class="overlay"></div>
        </div>
        <div class="containerLiftResult" id="containerLiftResult">
            <div id="liftResult" class="overlay">Result</div>
        </div>
        <div class="containerMain" id="containerMain">
            <span class="containerLifterNameCentre">
                <div id="lifterNameCentre" class="overlay"></div>
            </span>
            <span class="containerAttemptCentre">
                <div id="attemptWeightCentre" class="overlay"></div>
            </span>
        </div>
    </div>
</div>

<div class="logo">
    <img src="~/images/logo.png" alt="SP Logo">
</div>
